.arcade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 500px;
    transform: rotateX(0deg) rotateY(0deg);
}

.arcade .top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-16deg);
}

.arcade .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(-35px);
}

.arcade .controls{
    max-width: 1500px;
    max-height: 400px;
    transform: rotateX(10deg);
}

.arcade .bottom{
    max-width: 1500px;
    max-height: 1400px;
    transform: translateZ(35px);
}

.arcade svg{
    background: lightblue;
}

.arcade .middle svg{
    width: 100%;
    min-height: 1000px;
    max-width: 250px;
    max-height: 1000px;
}

.arcade .top svg{
    max-width: 1500px;
    max-height: 250px;
}

.arcade canvas {
    max-width: 100%;
    /* filter: drop-shadow(0px 0px 100px rgb(255, 255, 255));  */
}

.arcade .star {
    fill: #ffff6e;
    filter: drop-shadow(0px 0px 50px rgba(255, 234, 0, 0.7));
}

/* BUTTONS */
circle {
    transition: all 0.3s;
    filter: drop-shadow(0px 14px 0px rgb(0 0 0 / 1));
    transform: translateY(-7px);
}