:root {
    --star-color:#ffff6e;
    --prairie-color:#ff4264;
    --silver-color:#dcdcdc;
    --bronze-color:#dfa342;
    --blue-color:#0080ff;
    --turqoise-color:#00cf95;
    --pink-color:#ee00ff;
    --green-color:#00dd1a;
    --tape-gray: #dbd8be;
    --tape-edge-gray: #b7b49d;
    --transparent: rgba(255, 255, 255, 0);
    --paper-dark: #ffeab3;
    --paper-color: #ffed87;
}

.arcade {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    perspective: none;
    transition: all 0.5s;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    /* animation: rotate-arcade 10s infinite linear; */
}

.arcade_top {
    position: absolute;
    width: 1500px;
    transform: translateY(-1425px) rotateX(90deg);
}

.arcade_bottom {
    position: absolute;
    width: 1500px;
    transform: translateY(1525px) rotateX(90deg);
    filter: drop-shadow(0px 0px 1000px black);
}

.arcade_side_r {
    position: absolute;
    width: 1500px;
    transform: translateX(750px) translateZ(-50px) rotateY(90deg);
}

.arcade_side_l {
    position: absolute;
    width: 1500px;
    transform: translateX(-750px) translateZ(-50px) rotateY(90deg);
}

.arcade_back {
    position: absolute;
    width: 1500px;
    transform: translateZ(-800px) translateY(45px);
}

.arcade_front {
    display: grid;
    justify-content: center;
    grid-template-rows: 250px 1000px 400px 1400px;
    grid-template-columns: 250px 1000px 250px;
    transform: translateZ(500px);
    transform-style: preserve-3d;
}

.arcade_front .top {
    grid-row: 1;    
    grid-column: 1 / 4;    
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-30deg) translateZ(-85px) translateY(130px);
}

.arcade_front .middle {
    grid-row: 2;    
    grid-column: 1 / 4;   
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(-200px) translateY(55px);
}

.arcade_front .controls{
    grid-row: 3;    
    grid-column: 1 / 4;  
    transform: rotateX(30deg) translateZ(-100px) translateY(-25px);
}

.arcade_front .bottom{
    grid-row: 4;    
    grid-column: 1 / 4;  
}

.arcade_front svg{
    background: lightblue;
}

.arcade_front canvas {
    animation: flicker 0.4s infinite alternate;   
    transition: all 0.4s;
}

.arcade_front .star {
    fill: var(--star-color);
    filter: drop-shadow(0px 0px 50px var(--star-color));
}

@media (max-width: 1500px) {
    /* * { font-size: 1.5em; } */
    .arcade { width: fit-content; }
}

#score {
    font-family: 'GraphicPixel', sans-serif;
    position: absolute;
    color: var(--star-color);
    filter: drop-shadow(0px 0px 50px currentColor);
    font-size: 120px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 var(--star-color),
    -4px 0 0 var(--prairie-color),
    2px 0 0 var(--turqoise-color),
    4px 0 0 var(--blue-color);
    white-space: nowrap;
    text-align: center;
}

/* BUTTONS */
circle {
    transition: all 0.3s;
    filter: drop-shadow(0px 14px 0px rgb(0 0 0 / 1));
}

@keyframes flicker {
    0%, 50%, 100% {}
}

/* Leaderboard */
table {
    font-family: 'GraphicPixel', sans-serif;
    border-collapse: collapse;
    position: absolute;
    max-width: 1000px;
    transform: translateY(-2700px) translateX(450px);
    width: 100%;
    background-color: black; /* Set black background */
    color: var(--prairie-color); /* Set text color to white */
    border-radius: 20px;
}

th, td {
    border: none; 
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

td { filter: drop-shadow(0px 0px 3px currentColor); }

tr { font-size: 1.5em; }

tbody tr:first-child {
    counter-reset: item;
}

tbody tr td:first-child::after{
    content: counter(item) ".";
    counter-increment: item;
}

tr:nth-child(1) td { color: var(--star-color); }
tr:nth-child(2) td { color: var(--silver-color); }
tr:nth-child(3) td { color: var(--bronze-color); }
tr:nth-of-type(4n + 3) { color: var(--blue-color); }
tr:nth-of-type(4n + 4) { color: var(--turqoise-color); }
tr:nth-of-type(4n + 5) { color: var(--pink-color); }
tr:nth-of-type(4n + 6) { color: var(--green-color); }

/* Hover effect */
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--star-color);
}

td:hover { transform: scale(1.2); }

tr td:first-of-type {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

tr td:last-of-type {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.paper {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 325px;
    min-height: 100px;
    filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.5));
    background: linear-gradient(
      135deg,
      var(--paper-dark),
      30%,
      var(--paper-color)
    );
  }

.paper.info {
    transform: rotateZ(10deg) rotateY(180deg) translateY(-2750px) translateX(-450px);
}

.paper.gps {
    transform: rotateZ(-5deg) rotateY(180deg) translateY(-2050px) translateX(-750px);
}
  
.paper p {
    font-size: 2rem;
    font-family: 'Delicious Handrawn', sans-serif;
    margin: 10px auto;
}
  
.top_tape {
    position: absolute;
    height: 3vmin;
    top: -25px;
    left: -15px;
    width: 110%;
    background-color: var(--tape-gray);
    opacity: 0.5;
    transform: rotateZ(4deg);
}